Repository DAGWorks-Inc/hamilton, pull requests merged in 2024-02, with the labels that each got.

#673 Adds simple RAG example to contrib
  contrib/hamilton/contrib/dagworks/faiss_rag/README.md
  contrib/hamilton/contrib/dagworks/faiss_rag/__init__.py
  contrib/hamilton/contrib/dagworks/faiss_rag/dag.png
  contrib/hamilton/contrib/dagworks/faiss_rag/requirements.txt
  contrib/hamilton/contrib/dagworks/faiss_rag/tags.json
  contrib/hamilton/contrib/dagworks/faiss_rag/valid_configs.jsonl
Labels: contrib

#674 Contrib/conversational rag
  contrib/hamilton/contrib/dagworks/conversational_rag/README.md
  contrib/hamilton/contrib/dagworks/conversational_rag/__init__.py
  contrib/hamilton/contrib/dagworks/conversational_rag/dag.png
  contrib/hamilton/contrib/dagworks/conversational_rag/langchain.py
  contrib/hamilton/contrib/dagworks/conversational_rag/requirements.txt
  contrib/hamilton/contrib/dagworks/conversational_rag/tags.json
  contrib/hamilton/contrib/dagworks/conversational_rag/valid_configs.jsonl
Labels: contrib

#675 contrib: OpenAI code generation
  contrib/hamilton/contrib/user/zilto/llm_generate_code/README.md
  contrib/hamilton/contrib/user/zilto/llm_generate_code/__init__.py
  contrib/hamilton/contrib/user/zilto/llm_generate_code/dag.png
  contrib/hamilton/contrib/user/zilto/llm_generate_code/requirements.txt
  contrib/hamilton/contrib/user/zilto/llm_generate_code/tags.json
  contrib/hamilton/contrib/user/zilto/llm_generate_code/valid_configs.jsonl
Labels: contrib

#670 Adds GraphConstructionHook
  docs/reference/lifecycle-hooks/GraphConstructionHook.rst
  docs/reference/lifecycle-hooks/index.rst
  hamilton/lifecycle/api.py
Labels: enhancement

#690 fix: JSON materializer don't support `list[dict]`
  hamilton/io/default_data_loaders.py
  requirements-test.txt
  tests/io/test_default_adapters.py
Labels: bug

#684 Plugin: cache hook with `diskcache`
  examples/cache_hook/README.md
  examples/cache_hook/functions.py
  examples/cache_hook/notebook.ipynb
  examples/cache_hook/requirements.txt
  examples/cache_hook/run.py
  hamilton/ad_hoc_utils.py
  hamilton/graph_utils.py
  hamilton/plugins/h_diskcache.py
  requirements-docs.txt
  requirements-test.txt
  setup.py
  tests/plugins/test_h_diskcache.py
  tests/test_ad_hoc_utils.py
  tests/test_graph_utils.py
Labels: enhancement
